@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4fbff;
  --foreground: #0a0f5e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f1f1fc;
    --foreground: #110e38;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
